[run]
omit =*apps.py,
  *migrations/*,
  *settings*,
  *tests/*,
  *urls.py,
  *admin.py,
  *wsgi.py,
  manage.py,
  userapp/emailsend.py,
  dental/celery.py,
  dental/seed.py,
  treatmentapp/api/visualization.py
  treatmentapp/api/data.py
  *__init__.py
