<!DOCTYPE html>
<html>
<head>
	<title>404: Page not Found</title>
	<link href="https://fonts.googleapis.com/css?family=Kodchasan|Righteous&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style type="text/css">
		.fof-page-wrap{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
		.fof{
			font-family: 'Righteous', cursive;
			font-size: 22vw;
			/*font-size: 72px;*/
		    background: -webkit-linear-gradient(left, #004bd2, #004bd2, #004bd2, #f70000, #f70000, #f70000);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		}
		.fof-message{
			font-family: 'Kodchasan', sans-serif;
			font-size: 5vw;
			color: #004bd2;
		}
	</style>
</head>
<body>
<div class="fof-page-wrap">
	<div class="fof-page-wrap-inner">
		<div class="fof text-center">
			404
		</div>
		<div class="fof-message text-center">
			Page not Found
		</div>
		<div class="goto_message text-center">
			Click <a href="/">here</a> to continue.
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>